[credential]
        helper = store

[diff]
        tool = meld

[merge]
        tool = meld

[alias]
        wip = "!f() { git add -A; git ls-files --deleted -z | xargs -0 -r git rm; s=`git show --format=%s HEAD | head -1`; if [ \"wip\" = \"$s\" ]; then git commit --amend -m \"wip\"; else git commit -m \"wip\"; fi;}; f"
        s = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
        ls = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
        ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
        publish = "!git push -u origin $(git branch-name)"
        review = difftool origin/master...
        la = "!git config -l | grep alias | cut -c 7-"

[pull]
    rebase = true

[commit]
    gpgsign = true

[user]
	email = mail@beuke.org
	name = Fabian Beuke
	signingkey = E0914083
[rerere]
	enabled = true
