 # vi: ft=sh
 #                              __ _ _
 #       __  ___ __  _ __ ___  / _(_) | ___
 #       \ \/ / '_ \| '__/ _ \| |_| | |/ _ \
 #        >  <| |_) | | | (_) |  _| | |  __/
 #       /_/\_\ .__/|_|  \___/|_| |_|_|\___|
 #            |_|

# clear download folder
bash -c "mv ~/Downloads/* mv ~/Downloads/old" &

# start conky
~/scripts/start-conky &

# backup packages list
# zsh -c "pacman -Qqe >! ~/Git/dotfiles/scripts/backup/pkglist.txt" &

# automute while afk
bash -c "~/scripts/automute.sh" &

# autoupdate system (pacman / yaourt)
bash -c "~/scripts/autoupdate.bash" &

# monitor events
~/scripts/monitoring &

# sync github mirror repositories
~/scripts/mirror &

# low memory warning (freeze swap prevention)
~/scripts/lowmem &

# screenlock after 10 min
xautolock -time 10 -locker "$HOME/scripts/lock $HOME/scripts/lock.png" &

# email client
thunderbird &

# notification deamon
dunst &

# web browser
# chromium &

# sound
pulseaudio --start &

# reduce monitor brigthness at night
redshift &

xrdb ~/.Xdefaults
xrdb ~/.Xresources
# xmodmap ~/.Xmodmap
setxkbmap de


export _JAVA_AWT_WM_NONREPARENTING=1
wmname LG3D

# compositor
# compton --backend glx --vsync opengl-swc &

# hide mouse when not needed
unclutter &

# java WM tweaks
export _JAVA_OPTIONS='-Dsun.java2d.opengl=true'

# This may solve a rendering issue of Java GUIs occurring in
# window managers like awesome or dwm or bspwm
# This works because the JVM contains a hard-coded
# list of known, non-re-parenting window managers.
export _JAVA_AWT_WM_NONREPARENTING=1
wmname LG3D

# polybar
sleep 10 && while true; do SHELL=/bin/bash polybar -r stock; done &

# hotkey deamon
sxhkd &

[ ! -s ~/.config/mpd/pid ] && echo mpd &

xset +fp ~/.fonts/tamzen-font/bdf &
xset fp rehash &

# load xdefaults
[[ -e ~/.Xdefaults ]] && xrdb ~/.Xdefaults
[[ -e ~/.Xresources ]] && xrdb ~/.Xresources

# speeeeed!
xset r rate 150 50
