
 #                              __ _ _
 #       __  ___ __  _ __ ___  / _(_) | ___
 #       \ \/ / '_ \| '__/ _ \| |_| | |/ _ \
 #        >  <| |_) | | | (_) |  _| | |  __/
 #       /_/\_\ .__/|_|  \___/|_| |_|_|\___|
 #            |_|

# clear download folder
bash -c "mv ~/Downloads/* mv ~/Downloads/old" &

# wait for active internet connection and start desktop background monitor
if [[ $(hostname) == 'skylake' ]]; then
    bash -c 'while true; do conky -c ~/.config/conky/conkyrc-work && sleep 1; done &' &
elif [[ $(hostname) == 'arch' ]]; then
    bash -c 'while true; do conky -c ~/.config/conky/conkyrc && sleep 1; done &' &
fi

# backup packages list
# zsh -c "pacman -Qqe >! ~/Git/dotfiles/scripts/backup/pkglist.txt" &

# add monitor on the fly
# zsh -c "~/scripts/monitor.bash" &

# automute while afk
bash -c "~/scripts/automute.sh" &

# autoupdate system (pacman / yaourt)
bash -c "~/scripts/autoupdate.bash" &

# monitor events
bash -c "~/scripts/monitoring.bash" &

# sync github mirror repositories
bash -c "~/scripts/mirror.bash" &

# low memory warning (freeze swap prevention)
bash -c "~/scripts/lowmem.bash" &

# email client
thunderbird &

# notification deamon
dunst &

# web browser
# chromium &

# sound
pulseaudio --start &

# reduce monitor brigthness at night
redshift &

xrdb ~/.Xdefaults
xrdb ~/.Xresources
# xmodmap ~/.Xmodmap
setxkbmap de


export _JAVA_AWT_WM_NONREPARENTING=1
wmname LG3D

# compositor
compton --backend glx --vsync opengl-swc &

# hide mouse when not needed
unclutter &

# java WM tweaks
export _JAVA_OPTIONS='-Dsun.java2d.opengl=true'

# This may solve a rendering issue of Java GUIs occurring in
# window managers like awesome or dwm or bspwm
# This works because the JVM contains a hard-coded
# list of known, non-re-parenting window managers.
export _JAVA_AWT_WM_NONREPARENTING=1
wmname LG3D

# polybar
# while true; do SHELL=/bin/bash polybar -r top-bspwm; done &

# hotkey deamon
sxhkd &

# pacman (aur) notifcations
kalu &

[ ! -s ~/.config/mpd/pid ] && echo mpd &

xset +fp ~/.fonts/tamzen-font/bdf &
xset fp rehash &

# load xdefaults
[[ -e ~/.Xdefaults ]] && xrdb ~/.Xdefaults
[[ -e ~/.Xresources ]] && xrdb ~/.Xresources

# speeeeed!
xset r rate 150 50

xmodmap -e "clear Lock"
xmodmap -e "keycode 9 = NoSymbol"
xmodmap -e "keycode 66 = Escape NoSymbol Escape Escape NoSymbol Escape"


