
!        __  __
!        \ \/ /_ __ ___  ___  ___  _   _ _ __ ___ ___  ___
!         \  /| '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|
!         /  \| | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \
!        /_/\_\_|  \___||___/\___/ \__,_|_|  \___\___||___/


*TkTheme: clearlooks
Xcursor.theme: DMZ-White
URxvt.scrollBar: false
URxvt.intensityStyles: false
xterm*foreground: #c5c8c6
xterm*background: #181715
xterm*internalBorder: 0
XTerm*visualBell: False

! ##############
! xterm settings
! ##############
xterm*font:                 -*-tamzenforpowerline-medium-*-*-*-20-*-*-*-*-*-*-*
xterm*boldFont:             -*-tamzenforpowerline-bold-*-*-*-20-*-*-*-*-*-*-*
URxvt*font:                 -*-tamzenforpowerline-medium-*-*-*-20-*-*-*-*-*-*-*
URxvt*boldFont:             -*-tamzenforpowerline-bold-*-*-*-20-*-*-*-*-*-*-*
xterm*metaSendsEscape: true
! xterm*font: -*-terminus-*-*-*-*-20-*-*-*-*-*-*-*
xterm*saveLines:            1000
xterm*geometry:             80x24-500+400
xterm*allowBoldFonts:       true
xterm*utf8:                 true
xterm*termName:             xterm-256color
xterm*VT100*translations:   #override\nShift Ctrl <KeyPress> v:insert-selection(CLIPBOARD)\nShift Ctrl <KeyPress> c:copy-selection(CLIPBOARD)
xterm.scaleHeight: 0.9

urxvt.font:                 -*-tamzenforpowerline-medium-*-*-*-20-*-*-*-*-*-*-*
urxvt.boldFont:             -*-tamzenforpowerline-bold-*-*-*-20-*-*-*-*-*-*-*
urxvt.perl-ext-common:      default -searchable-scrollback,matcher,keyboard-select,clipboard



! erosion theme by earsplit
*.foreground:   #e8e1e1
*.background:   #181715
*.cursorcolor:  #bea492

! black
*.color0:       #332d29
*.color8:       #817267

! red
*.color1:       #8c644c
*.color9:       #9f7155

! green
*.color2:       #746c48
*.color10:      #857b52

! yellow
*.color3:       #908a66
*.color11:      #9c956e

! blue
*.color4:       #646a6d
*.color12:      #71777a

! magenta
*.color5:       #605655
*.color13:      #656565

! cyan
*.color6:       #4b5c5e
*.color14:      #556d70

! white
*.color7:       #504339
*.color15:      #9a875f
