[Unit]
Description=Pacman Autoupdate
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=runghc /home/x/scripts/autoupdate/autoupdate.hs

[Install]
WantedBy=multi-user.target
