[Unit]
Description=Restart hd-idle
After=suspend.target
After=hibernate.target
After=hybrid-sleep.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 1
ExecStart=/usr/bin/systemctl restart hd-idle.service

[Install]
WantedBy=suspend.target
WantedBy=hibernate.target
WantedBy=hybrid-sleep.target
