[Unit]
Description = Lock the screen when going to sleep
Before=suspend.target

[Service]
User = x
Type = forking
Environment = DISPLAY=:0
ExecStart = runghc /home/x/scripts/lock.hs

[Install]
WantedBy = suspend.target
